<p id="notice"><%= notice %>
<p>
	<strong>Group: </strong>
	<%= @group.name %>
</p>
<p>
    <strong>Mentor: </strong>
    <% @group.users.each do |user|%>
         <% if user.mentor? %>
         <%= user.name %>
         <% end %>
    <% end %>
</p>
<p>
    <strong>Mentee: </strong>
    <% @group.users.each do |user|%>
         <% if user.mentee?  %>
         <%= user.name %>
         <% end %>
    <% end %>
</p>