<h1>Welcome to Mentorly</h1>

<p class="article">As a strategy for helping people succeed in life, mentoring works to those open to it. It helps give people the confidence, resources and skills they need to reach their potential.

But like any development strategy, mentoring works best when measures are taken to ensure quality and effectiveness. When the tool of change is a close relationship, as is the case with mentoring, everyone involved should proceed with care. The risks and improvements to the person are proportional to how long the relationship endures. The longer a relationship lasts, usually the closer the bond and the greater benefit the mentee.

With Mentorly we hope to bridge the gap and create a medium to facilitate this.</p>