<h1>Conversations</h1>
<h2> Inbox</h2>
<%= render mailbox.inbox %>
<h2>Sentbox</h2>
<%=  render mailbox.sentbox %>
<h2>Trash</h2>
<%= render mailbox.trash %>

<%= link_to 'Start Conversation', :new_conversation %>